{extends "./@mailLayout.latte"}

{block title}
    Nova fotografie "{$name}"
{/block}

{block body}
do aplikace Fotosoutěž Prahy 3 byla přijata nová fotografie
<a href="{link //:Admin:Participant:decline, id=>$id}">Zamitnout ZDE.</a>

