{extends "./@mailSeifertLayout.latte"}

{block title}
    Nový příspěvek v soutěži Seifertův Žižkov
{/block}

{block body}
do Literární soutěře Seifertův Žižkov byla přijata nová příloha / text.<br/>
<a href="{link //:Admin:Participant:declineText, id=>$id}">Zamítnout / schválit ZDE.</a>
