parameters:
    admin_mail: josef.zajac@gmail.com
    database:
        host: localhost
        username: tester
        password: 1234
        database: localhost:1521/XE
        driver: oracle
        lazy: TRUE
        profiler: true
    users:
        system: 1d0258c2440a8d19e716292b231e3190
        admin2: superadmin
    menu_entities:
        TariffSpace: Tariff Space

#services:
#    nette.latteFactory:
#        setup:
#            - setTempDirectory(null)
