{extends "default.latte"}

{block competitionContent}
<div class="news-box">
    <h4>Nahrání příspěvku</h4>
    {if !$user->isLoggedIn()}
        <h4>Pro nahrani prispevku se musite registrovat <a n:href="Seifert:register">zde</a></h4>
    {else}
        {control newUploadTextForm}
        <p><a n:href="Seifert:rules" target="_blank">{_tr.competition.rules_here}</a></p>
    {/if}
</div>
