{extends "default.latte"}

{block competitionContent}

<div class="news-box">
    <div class="menu">Pro prihlaseni se musite registrovat <a n:href="Seifert:register">zde</a></div>
    <hr/>
    {control loginForm}
</div>
