{extends "default.latte"}

{block competitionContent}

<div class="news-box">
    <div class="menu">Pokud jste jiz registrovani, prihlaste se <a n:href="Seifert:login">zde</a></div>
    <hr/>
    {control registerAuthorForm}
</div>
