{extends "default.latte"}

{block competitionContent}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
        <div class="login-logo ">
            <h4>{_tr.modal.add_photo}<h4>
        </div>
        <p>{!_tr.competition.add_desc}</p>
        <p><a n:href="Competition:rules">{_tr.competition.rules_here}</a></p>
        {control newUploadForm}
    </div>
</div>
