{extends "default.latte"}

{block headInclude}
<link rel="stylesheet" href="{$basePath}/countdown/flipclock.css">
{/block}

{block competitionContent}

<div class="row start">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>{_tr.competition.start}</h1>

    <div class="clock"></div>

    </div>
</div>
